@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

/* CSS RESET */
*{
	box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* COLORS FOR WEBSITE */
/* 
   Dark Green  #293823 
   Green #05AC54
   Beige #DCD4C7
   Yellow #F7DA76
   Gold #D2B862
*/

/* MAIN STYLING */
html,body {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1440px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  background: #dcd4c7; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #dcd4c7 45%, #f7da76 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #dcd4c7 45%,#f7da76 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #dcd4c7 45%,#f7da76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* GLOBAL STYLING */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
  z-index: 1;
}

/* HEADER STYLING */
#bg-top  .bg-food-title {
  font-size: 20rem;
  text-transform: uppercase;
  color: #DCD4C7;
  -webkit-text-stroke-width: 1.10px;
  -webkit-text-stroke-color: #4c4c4c;
  width: 64%;
  position:relative;
  bottom: 0.30em;
  right: .15em;
  opacity: .1; 
  z-index: 0;
  margin: 0;
}

#bg-top header {
  display: inline-block;
  position: absolute;
  top: 8px;
  z-index: 1;
  width: 100%;
}

#bg-top header .logo {
  display: inline-block;
  float: left;
  width: 55%;
}
#bg-top header .menu {
  display: inline-block;
  text-align: center;
  float: left;
  width: 25%;
}
#bg-top header .menu a{
  text-decoration: none;
}
#bg-top header .shopping-cart {
  display: inline-block;
  float: left;
}




  